@media(min-width : 425px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  a {
    margin: 0 20%;
  }


  .sched-price-area {
    padding: .5em 1em;
  }
}

@media(min-width : 768px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 3em;
  }

  a {
    display: block;
    margin: 0;
  }

  .icon {
    display: inline;
  }

  .lead {
    font-size: 1.5em;
  }

  .course-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .course {
    margin-left: .5em;
    margin-right: .5em;
  }

  .sched-price-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5%;
  }

  .sched {
    margin-right: .5em;
  }

  .price {
    margin-left: .5em;
  }
}

@media(min-width : 985px) {

  h4 {
    font-size: 1.25em;
  }

  .master-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: last baseline;
  }
}

@media(min-width : 1024px) {
  h4 {
    font-size: 1.5em;
  }
}
