/* 
Background
 Rich Black: #06072c
 Japanese Indigo: #28324b
 White: #ffffff
 Isabelline: #efefef 

Detalhes
 International Orange: #fe5000

Fontes
 Dark Gunmetal: #212529
 Nickel: #727272
 White: #ffffff
 Maven Pro, sans-serif: 400 | 500

Links
 Texto - White: #ffffff
 Hover - International Orange: #fe5000
*/

body {
  font-family: 'Maven Pro', sans-serif;
  color: #212529;
  margin: 0;
}

header {
  padding-bottom: .5em;
  background-color: #28324b;
  color: #ffffff;
}

h1 {
  margin: 0;
}

aside {
  padding: 1em 0;
  color: #ffffff;
}

h2 {
  margin: .5em 0;
}

span {
  color: #fe5000;
}

p {
  margin: 0.5em;
}

h3 {
  margin: .5em 0;
}

h4 {
  margin: .5em .25em;
}

ul {
  margin: .5em 0;
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fe5000;
  padding: .5em;
  margin: 0 10%;
  border: 1px solid #fe5000;
  border-radius: 5px;
}

a:hover {
  color: #ffffff;
  background-color: #fe5000;
}


.container {
  width: 90%;
  margin: auto;
}

.lead {
  margin: .5em 0;
}

.icon {
  display: none;
}

.course {
  margin: .5em .5em 1.25em;
  border: 1px solid black;
  border-radius: 5px;
}

.card-img {
  width: 100%;
  max-height: 100%;
  padding: 0;
  border-radius: 4px 4px 0 0;
}

.sched-price-area {
  padding: .5em;
  background-color: #efefef;
}


#grad-banner {
  background-image: url(../img/banners/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}